    /*export google fonts*/
    
    @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
    /*general styles*/
    
    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
    }
    /*medias for calculate font size*/
    
    @media (max-width: 75em) {
        html {
            font-size: 60%;
        }
    }
    /* 980px / 16px = 61.25em */
    
    @media (max-width: 61.25em) {
        html {
            font-size: 58%;
        }
    }
    /* 460px / 16px = 28.75em */
    
    @media (max-width: 28.75em) {
        html {
            font-size: 55%;
        }
    }
    /* Base styles */
    
    body {
        font-family: 'Crimson Text', serif;
        font-size: 1.8rem;
        /* 18px */
        font-weight: 400;
        line-height: 1.4;
    }
    
    h1,
    h2 {
        font-family: 'Crimson Text', serif;
        font-weight: 700;
        text-align: center;
    }
    
    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 4.2rem;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: whitesmoke
    }
    
    img {
        display: block;
        width: 100%;
    }
    
    i {
        color: black;
    }
    /*nav bar*/
    
    .nav {
        background-color: black;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 5px 3px whitesmoke;
        z-index: 10;
    }
    /*nav list*/
    
    .nav-list {
        display: flex;
        margin-right: 2rem;
    }
    /*media of nav bar*/
    
    @media (max-width: 28.75em) {
        .nav {
            justify-content: center;
        }
        .nav-list {
            margin: 0 1rem;
        }
    }
    /*nav list anchor element*/
    
    .nav-list a {
        display: block;
        font-size: 2.2rem;
        padding: 2rem;
    }
    /*hover anchor element of nav list*/
    
    .nav-list a:hover {
        background-color: whitesmoke;
        color: black;
    }
    /*welcome section*/
    
    .welcome-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: black;
        text-align: center;
    }
    /*welcome contain*/
    
    .welcome-section h1 {
        color: wheat;
    }
    /*p*/
    
    .welcome-section p {
        font-size: 3rem;
        font-weight: 200;
        color: wheat;
    }
    /*projects section*/
    
    .projects-section {
        background-color: beige;
        text-align: center;
        padding: 10rem 2rem;
    }
    
    .projects-section a {
        color: black;
    }
    /*project section header*/
    
    .projects-section-header {
        max-width: 640px;
        margin: 0 auto 6rem auto;
        border-bottom: 0.2rem solid black;
    }
    /*media query for header*/
    
    @media (max-width: 28.75em) {
        .projects-section-header {
            font-size: 4rem;
        }
    }
    /*projects grid*/
    
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 6rem;
    }
    /*media query projects grid*/
    
    @media (max-width: 30.625em) {
        .projects-section {
            padding: 6rem 1rem;
        }
        .projects-grid {
            grid-template-columns: 1fr;
        }
    }
    /*project*/
    
    .project {
        background-color: black;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
    }
    
    .code {
        color: whitesmoke;
        transition: color .3s ease-out;
    }
    /*code hover*/
    
    .project:hover .code {
        color: black;
        font-weight: 900;
    }
    
    .project-image {
        height: calc(100% - 6.8rem);
        width: 100%;
        object-fit: cover;
    }
    
    .project-title {
        font-size: 2rem;
        padding: 2rem 0.5rem;
        color: black;
    }
    /*button*/
    
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
    }
    
    .btn-show-all {
        font-size: 2rem;
        background-color: wheat;
        transition: background-color 0.3s ease-out;
    }
    /*btn hover*/
    
    .btn-show-all:hover {
        background-color: black;
        color: whitesmoke;
        transition: 1s;
    }
    /*i hover*/
    
    .btn-show-all:hover>i {
        transform: translateX(2px);
        color: whitesmoke;
        transition: 1s;
    }