/*export google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/*General styles*/

* {
    margin: 0;
    padding: 0;
}


/*base styles*/

body {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white
}

i {
    color: black;
}


/*small mobile*/

@media screen and (min-width:320px) {
    /*nav bar*/
    .nav {
        transition: 1s;
        background-color: black;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 5px 3px white;
        justify-content: center;
    }
    /*nav list*/
    .nav-list {
        display: flex;
        margin: 0 auto;
    }
    /*nav list anchor element*/
    .nav-list a {
        transition: 1s;
        display: block;
        font-size: 20px;
        padding: 10px;
    }
    /*nav list hover*/
    .nav-list a:hover {
        background-color: white;
        color: black;
    }
    /*welcome section*/
    .welcome-section {
        transition: 1s;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
        color: white;
    }
    .welcome-section h1 {
        transition: 1s;
        font-size: 28px;
    }
    /*welcome section hover*/
    .welcome-section h1:hover {
        box-shadow: 20px 5px white;
        transition: 1s;
    }
    .welcome-section p {
        font-size: 20px;
        font-weight: 400;
    }
    /*projects section*/
    .projects-section {
        margin-top: 0;
        width: 100%;
        background-color: white;
    }
    /*projects section header*/
    .projects-section-header {
        text-align: center;
        font-weight: 700;
        margin: 25px 20px;
        border-bottom: black solid 1px;
    }
    /*projects section grid*/
    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    /*project*/
    .project {
        margin: 22px;
        background-color: black;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        display: inline;
    }
    /*code*/
    .code {
        color: black;
        transition: color 1s ease-out;
    }
    /*code hover*/
    .project:hover .code {
        color: white;
    }
    /*image*/
    .project-image {
        width: 100%;
    }
    /*project titñe*/
    .project-title {
        font-weight: 400;
        font-size: 19px;
        text-align: center;
        padding: 5px;
    }
    /*button*/
    .btn {
        display: flex;
        color: white;
        justify-content: center;
        border-radius: 5px;
        margin: 0 40px;
        padding: 5px;
    }
    .btn-show-all {
        transition: 1s;
        font-size: 15px;
        font-weight: 500;
        background-color: black;
    }
    .btn i {
        transition: 1s;
        margin-top: 5px;
        padding-left: 5px;
    }
    /*button hover*/
    .btn-show-all:hover {
        background-color: white;
        color: black;
        transition: 1s;
    }
    /*i hover*/
    .btn-show-all:hover>i {
        transform: translateX(10px);
        color: black;
        transition: 1s;
    }
    /*contact*/
    /* Contact section */
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: white;
    }
    .contact-section-header>h2 {
        font-size: 50px;
    }
    .contact-section-header>p {
        font-style: italic;
        font-weight: 400;
        font-size: 25px;
    }
    .contact-section-links {
        margin-top: 5%;
    }
    .contact-section-links p {
        border-bottom: 1px solid black;
    }
    .contact-details {
        padding: 0;
        margin: 0 60%;
        font-size: 20px;
    }
    /* Footer */
    footer {
        transition: 1s;
        background-color: black;
        font-weight: 300;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    footer p,
    footer a {
        color: white;
        margin: 0;
    }
    #f-a {
        border-bottom: solid white 2px;
    }
    /*hover*/
    footer:hover {
        transform: translateY(8px);
        transition: 1s;
    }
}


/*medium mobile*/

@media screen and (min-width:375px) {
    /*nav section*/
    .nav-list a {
        font-size: 22px;
    }
    /*welcome section*/
    .welcome-section h1 {
        font-size: 30px;
    }
    .welcome-section p {
        font-size: 22px;
    }
    /*contact section*/
    .contact-section-links p {
        font-size: 20px;
    }
    .contact-details {
        font-size: 30px;
    }
}


/*mobile large*/

@media screen and (min-width:425px) {
    /*nav section*/
    .nav-list a {
        font-size: 25px;
    }
    /*welcome section*/
    .welcome-section h1 {
        font-size: 37px;
    }
    .welcome-section p {
        font-size: 25px;
    }
    /*projects section*/
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
    /*button*/
    .btn {
        margin: 0 100px;
    }
    .btn-show-all {
        font-size: 20px;
    }
    /*contact section*/
    .contact-section-links p {
        font-size: 22px;
    }
    .contact-details {
        font-size: 35px;
    }
    .contact-details i {
        margin-top: 10px;
        margin-left: 50%;
    }
}


/*tablet */

@media screen and (min-width:768px) {
    /*nav section*/
    .nav-list {
        margin: 0;
        padding: 5px;
    }
    .nav {
        justify-content: flex-end;
    }
    .nav-list a {
        font-size: 30px;
    }
    /*welcome section*/
    .welcome-section h1 {
        font-size: 50px;
    }
    .welcome-section p {
        font-size: 27px;
    }
    /*projects section*/
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
    /*button*/
    .btn {
        margin: 0 100px;
    }
    .btn-show-all {
        font-size: 20px;
    }
    /*contact section*/
    .contact-section-links p {
        font-size: 22px;
    }
    .contact-details {
        font-size: 35px;
    }
}


/*lap */

@media screen and (min-width:1024px) {
    /*nav section*/
    .nav-list a {
        font-size: 30px;
    }
    /*welcome section*/
    .welcome-section h1 {
        font-size: 60px;
    }
    .welcome-section p {
        font-size: 30px;
    }
    /*projects section*/
    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /*button*/
    .btn {
        margin: 0 300px;
    }
    .btn-show-all {
        font-size: 22px;
    }
    /*contact section*/
    .contact-section-links p {
        font-size: 30px;
    }
    .contact-details {
        font-size: 50px;
    }
    .contact-details i {
        margin-top: 10px;
        margin-left: 100px;
    }
}